* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



body {
    background-color: #c8bba4a4;
    text-align: center;
    
}
  
  h1 {
    color: #ae8f59;
    margin:auto;
    margin-bottom: 10px;
    background-image: url(./img/odin.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left 40%;
    padding: 15px;
    width: 500px;
    height: 180px;
    text-align: left;
    line-height: px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    border: 5px solid #595041a4;
    
    

  }

  .links {
    font-size: 24px;
    text-align: center;
    color:#ae8f59;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  img {
    border: 5px solid #595041a4;
    padding: 15px;
    width: 500px;
    height:auto;
  }
   div {
    width: 500px;
    height: auto;
    padding: 15px;
    border: 5px solid #595041a4;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    color: #595041fb;
  }

  div.linkbox {
    text-align: center;
    width: 500px;
    height: auto;
  }
    